<head>
    <link rel="stylesheet" href="/assets/home.css">
</head>
<body>

<div class="home">
    <topmiddle>
        <p><a href="/charityuser">Profile</a></p>
    </topmiddle>
    <topleft>
        <Header><a href="/charityhome" >Food 4 Thought</a></Header>
        <Slogan>Turning Trash Into Treasure.</Slogan>
    </topleft>
    <topright>
        <p><a href="/">Log out</a></p>
    </topright>
    <middleleft>
        <div class="allfeeds">
            <div class="section">
                <form>
                    <input type="text" name="search" placeholder="Search for charity">
                    <a href="/home">
                        <button class="button search">search</button>
                    </a>
                </form>
                <a href="/profilecharity">
                    <div class="feeds js-click-block" >
                        <img src="/assets/Peace.jpeg" class = "pic">
                        <span><b>Name:</b> Food co</span><br>
                        <span><b>Location:</b> Carlton</span><br>
                        <span><b>Description:</b> We are here to help all the homeless people to get some foods that sourced from cafe</span>
                    </div>
                </a>
                    <div class="feeds js-click-block">
                        <img src="/assets/bread.png" class = "pic">
                        <span><b>Name:</b> Gift of bread</span><br>
                        <span><b>Location:</b> Carlton</span><br>
                        <span><b>Description:</b> We are here to help all the homeless people to get some foods that sourced from supply chain</span>
                    </div>

            </div>
        </div>
    </middleleft>
    <middlemiddle>
        <a href="/message">
            <button class="button message">Message box</button>
        </a>
    </middlemiddle>
    <middleright>

    </middleright>
    <bottomleft>

    </bottomleft>
    <bottommiddle>

    </bottommiddle>
    <bottomright>
        Powered by the Caffeine Addicts!
    </bottomright>
</div>


</body>