<head>
    <link rel="stylesheet" href="/assets/profile.css">
</head>
<body>

<div class="page">
    <div class="banner">
        <div class="homelink">
            <a style="display: flex" href="/charityhome">
            <img src="/assets/green_apple.png" width="51" height="65">
            <div style="margin-left: 0.25em;margin-top: -0.25em">
                <p>Food 4 Thought</p>
            </div>
            </a>
        </div>
        <div class="sidelink">
            <p><a href="/charityuser">Profile</a></p>
            <p style="padding-left: 2em"><a href="/">Log out</a></p>
        </div>
    </div>
    <div class="profilecontent">
        <div class="primaryinfo">
            <div>
                <img src="/assets/bread_texture.png" width="136" height="120"
                     style="border: 1px black solid">
            </div>
            <div style="margin-left: 2em">
                <p style="font-size: 30px">Gift of Bread</p>
                <p>Charity</p>
                <p>Member Since :- 2018</p>
            </div>
            <div style="padding-left: 5%;padding-top: 3em">
                <a href="/message"><button style="font-size: 1.5em">Messages</button></a>
            </div>
        </div>

        <div class="secondaryinfo">
            <div>
                <p style="padding-left: 7em;font-size: 24px">Bio</p>
                <div class="box1" style="font-size: 0.8em">The Gift of Bread was started by a dedicated group of
                    Catholic men and women in Sydney ten years ago, in response to a call
                    to do something simple that would bring people together in a moment
                    of Grace. As we deliver fresh bread to the hungry and needy and share
                    a moment of grace with the isolated and lonely, it helps us build a
                    strong sense of social justice, one that is conscious of the
                    difficulties and hardships of society.</div>
            </div>
            <div style="padding-left: 4em">
                <p style="padding-left: 2em;font-size: 24px">Waste Accepted</p>
                <div class="box3" style="font-size: 18px;">Bread<br>Meat (except pork)<br>
                    Fish<br>Vegetables<br>Rice</div>
            </div>
        </div>
        <div class="tertiaryinfo">
            <p style="font-size: 24px">List of Supporting Waste Providers</p>
            <div class="box2">Feng Cafe<br>Aang's Place<br>The QZ</div>
            <p style="padding-top: 9em;padding-left: 5em">***Recommended by us</p>
        </div>
    </div>
    <div class="bottompart">
        Powered by The Caffeine Addicts!
    </div>
</div>



</body>