<!-- userlist is here-->
<head>
    <link rel="stylesheet" href="/assets/home.css">
</head>
<body>
<div class="background-image">
</div>
<div class="home">
    <topmiddle>
        <p><a href="/charityuser" class="headerlink">Profile</a></p>
    </topmiddle>
    <topleft>
        <Header><a href="/charityhome">Food 4 Thought</a></Header>
        <Slogan>Turning Trash Into Treasure.</Slogan>
    </topleft>
    <topright>
        <p><a href="/" class="headerlink">Log out</a></p>
    </topright>
    <middleleft>
        <div class="allfeeds">
        <div class="section">
            <form action="/charityhome" method="get">
                <input type="text" name='search' placeholder="Search for cafe">
                <button class="button search">search</button>
            </form>
            <% userlist.forEach(function(user){%>
            <a href="/profilewaster">
                <div class="feeds js-click-block" >
                    <img src=<%= user.photo %> class = "pic">
                    <span><b>Name:</b><%= user.name %></span><br>
                    <span><b>Location:</b><%= user.location %></span><br>
                    <span><b>Description:</b> <%= user.bio %></span>
                </div>
            </a>
            <% });%>
            </div>
        </div>
    </middleleft>
    <middlemiddle>
        <a href="/message">
            <button class="button message">Message box</button>
        </a>
    </middlemiddle>
    <middleright>

    </middleright>
    <bottomleft>

    </bottomleft>
    <bottommiddle>

    </bottommiddle>
    <bottomright>
        Powered by the Caffeine Addicts!
    </bottomright>
</div>


</body>