<head>
    <link rel="stylesheet" href="/assets/home.css">
</head>
<body>

<div class="home">
    <topmiddle>
        <p><a href="/charityuser">Profile</a></p>
    </topmiddle>
    <topleft>
        <Header><a href="/charityhome">Food 4 Thought</a></Header>
        <Slogan>Turning Trash Into Treasure.</Slogan>
    </topleft>
    <topright>
        <p><a href="/">Log out</a></p>
    </topright>
    <middleleft>
        <div class="allfeeds">
        <div class="section">
            <form>
                <input type="text" name="search" placeholder="Search for cafe">
                <a href="/charityhome">
                    <button class="button search">search</button>
                </a>
            </form>

            <a href="/profilewaster">
                <div class="feeds js-click-block" >
                    <img src="/assets/coffee.jpg" class = "pic">
                    <span><b>Name:</b> The Caffeine Addicts</span><br>
                    <span><b>Location:</b> Carlton</span><br>
                    <span><b>Description:</b> We are strong. We are kind. We are here to help homeless and poverty.</span>
                </div>
            </a>
            <div class="feeds js-click-block">
                <img src="/assets/cafe2.jpg" class = "pic">
                <span><b>Name:</b> Seven soil specialty coffee</span><br>
                <span><b>Location:</b> Carlton</span><br>
                <span><b>Description:</b> We love coffee and we love to provide freedom and positive energy to this society.</span>
            </div>
            </div>
        </div>
    </middleleft>
    <middlemiddle>
        <a href="/message">
            <button class="button message">Message box</button>
        </a>
    </middlemiddle>
    <middleright>

    </middleright>
    <bottomleft>

    </bottomleft>
    <bottommiddle>

    </bottommiddle>
    <bottomright>
        Powered by the Caffeine Addicts!
    </bottomright>
</div>


</body>