<head>
    <link rel="stylesheet" href="/assets/landingpage.css">
</head>
<body>

<div class="landingpage">
    <r1c1>
        <Header>Food 4 Thought</Header>
        <Slogan>Turning Trash Into Treasure.</Slogan>
    </r1c1>
    <r1c2>
    </r1c2>
    <r1c3>
        <p>Log In</p>
    </r1c3>
    <r1c4>
        <p>Sign Up</p>
    </r1c4>
    <r1c5>
        <p><a href="/" style="text-decoration: none">Home</a></p>
    </r1c5>
    <r2c1>
    </r2c1>
    <r2c2>
        <p>Food 4 Thought was created by a young group of guys who got sick and tired of throwing perfectly good food out.
        We worked in supermarkets, in restaurants and in cafes, never quite knowing why there was no one trying to pick
        all this stuff up. We understand that businesses have standards to maintain and that customers expect the best,
            so sometimes, good food gets thrown away. This is a reality of the industry.</p>
            <p>Food 4 Thought wants to empower businesses
        and charities. We're simply your platform. We want to make it easier for you to do the right thing.</p>
    </r2c2>
    <r2c3>

    </r2c3>
    <r3c1>

    </r3c1>
    <r3c2>
    </r3c2>
    <r3c3>

    </r3c3>
    <r3c4>
    </r3c4>
    <r4c2>
    </r4c2>
</div>
</body>