<head>
    <link rel="stylesheet" href="/assets/home.css">
</head>
<body>

<div class="home">
    <topmiddle>
        <p>Profile</p>
    </topmiddle>
    <topleft>
        <p><a href="/home">Food 4 Thought</a></p>
    </topleft>
    <topright>
        <p>Log out</p>
    </topright>
    <middleleft>
        <div class="section">
            <form>
                <input type="text" name="search" placeholder="Search for charity list">
                <a href="/home">
                <button class="button search">search</button>

            </form>
            <a href="/profilecharity">
            <div class="feeds1 js-click-block" >
                <img src="/assets/Peace.jpeg" class = "pic1">
                <span><b>Name:</b> Food co</span><br>
                <span><b>Location:</b> Carlton</span><br>
                <span><b>Description:</b> We are here to help all the homeless people to get some foods that sourced from cafe</span>
            </div>
            </a>
            <a href="/profilecharity">
            <div class="feeds2 js-click-block">
                <img src="/assets/bread.png" class = "pic2">
                <span><b>Name:</b> Gift of bread</span><br>
                <span><b>Location:</b> Carlton</span><br>
                <span><b>Description:</b> We are here to help all the homeless people to get some foods that sourced from supply chain</span>
            </div>
            </a>

        </div>
    </middleleft>
    <middlemiddle>
        <a href="/message">
        <button class="button message">Message box</button>
        </a>
    </middlemiddle>
    <middleright>

    </middleright>
    <bottomleft>

    </bottomleft>
    <bottommiddle>

    </bottommiddle>
    <bottomright>
        Powered by the Caffeine Addicts!
    </bottomright>
</div>


</body>