<head>
    <link rel="stylesheet" href="/assets/landingpage.css">
</head>
<body>

<div class="landingpage">
    <r1c1>
        <p>Food 4 Thought</p>
    </r1c1>
    <r1c2>
        <p>Turning Trash Into Treasure</p>
    </r1c2>
    <r1c3>
        <p>Sign Up</p>
    </r1c3>
    <r1c4>
        <p>Log In</p>
    </r1c4>
    <r2c1>

    </r2c1>
    <r2c2>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for charities or waste providers...">
    </r2c2>
    <r2c3>

    </r2c3>
    <r2c3>

    </r2c3>
    <r3c1>

    </r3c1>
    <r3c2>

    </r3c2>
    <r3c3>

    </r3c3>
    <r3c4>
        <p>Powered by the Caffeine Addicts!</p>
    </r3c4>
</div>
</body>