<head>
    <link rel="stylesheet" href="/assets/landingpage.css">
</head>
<body>

<div class="landingpage">
    <r1c1>
        <Header>Food 4 Thought</Header>
        <Slogan>Turning Trash Into Treasure.</Slogan>
    </r1c1>
    <r1c2>
    </r1c2>
    <r1c3>
        <p>Log In</p>
    </r1c3>
    <r1c4>
        <p>Sign Up</p>
    </r1c4>
    <r1c5>
        <p>About Us</p>
    </r1c5>
    <r2c1>
    </r2c1>
    <r2c2>
        <p>Waste doesn't always have to go to waste.</p>
        <p>We connect local charities with like-minded businesses.</p>
    </r2c2>
    <r2c3>

    </r2c3>
    <r3c1>

    </r3c1>
    <r3c2>
        <input type="text" class="search-query offset1" id="searchBar" placeholder="Search for charities or waste providers...">
    </r3c2>
    <r3c3>

    </r3c3>
    <r3c4>
    </r3c4>
    <r4c2>
    </r4c2>
</div>
</body>