<head>
    <link rel="stylesheet" href="/assets/landingpage.css">
</head>
<body>

<div class="landingpage">
    <div class="top">
        <r1c1>
            <Header>Food 4 Thought</Header>
            <Slogan>Turning Trash Into Treasure.</Slogan>
        </r1c1>
        <r1c2>
        </r1c2>
        <r1c3>
            <!-- Button to open the modal login form -->
            <button onclick="document.getElementById('id01').style.display='block'">Login</button>

            <!-- The Modal -->
            <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'"
                  class="close" title="Close Modal">&times;</span>

                <!-- Modal Content -->
                <form class="modal-content animate" action="/login" method="POST">
                    <div class="container">
                        <label for="username"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required>

                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>

                        <button type="submit">Login</button>
                    </div>
                </form>
            </div>
        </r1c3>
        <r1c4>
            <!-- Button to open the modal login form -->
            <button onclick="document.getElementById('id02').style.display='block'">Sign Up</button>

            <!-- The Modal -->
            <div id="id02" class="modal">
            <span onclick="document.getElementById('id02').style.display='none'"
                  class="close" title="Close Modal">&times;</span>

                <!-- Modal Content -->
                <form action="/register" class="modal-content animate" method="POST">
                    <div class="container">
                        <label for="email"><b>Email Address</b></label>
                        <input type="email" placeholder="Enter an Email Address" name="email" required>
                        <label for="name"><b>Company Name</b></label>
                        <input type="text" placeholder="Enter your Business' Name" name="name" required>
                        <label for="username"><b>Username</b></label>
                        <input type="text" placeholder="Enter a Username" name="username" required>
                        <label for="phone"><b>Phone Number</b></label>
                        <input type="text" placeholder="Enter your Phone Number" name = "phone" required>
                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>
                        <button type="submit">Sign Up!</button>
                        <label>
                            <input type="checkbox" name="charity"> Charity
                        </label>
                        <label>
                            <input type="checkbox" name="wasteprovider"> Waste Provider
                        </label>
                    </div>
                </form>
            </div>
        </r1c4>
        <r1c5>
            <p><a href="/contactus" style="text-decoration: none">About Us</a></p>
        </r1c5>
    </div>

    <div class="middle">
        <div style="margin-left: 4em">
            <p>Waste doesn't always have to go to waste.</p>
            <p>We connect local charities with like-minded businesses.</p>
        </div>
        <input type="text" class="search-query offset1" id="searchBar"
               placeholder="Search for charities or waste providers...">
    </div>
</div>
</body>