<head>
    <link rel="stylesheet" href="/assets/landingpage.css">
</head>
<body>

<div class="landingpage">
    <topmiddle>
        <p>Sign up</p>
    </topmiddle>
    <topleft>
        <p>Food 4 thought</p>
    </topleft>
    <topright>
        <p>Log in</p>
    </topright>
    <middleleft>
        <p>Blah blah blah...</p>
        <p>blah blah search box            Search</p>

    </middleleft>
    <middlemiddle>

    </middlemiddle>
    <middleright>

    </middleright>
    <bottomleft>

    </bottomleft>
    <bottommiddle>

    </bottommiddle>
    <bottomright>
        Powered by the Caffeine Addicts!

    </bottomright>
</div>

</body>