<html>
<head>
    <title>Message</title>
    <link rel="stylesheet" type="text/css" href="/assets/message.css">
</head>
<body>
<div class="background-image">
</div>
<div class="home">
    <topmiddle>
        <p><a href="/charityuser">Profile</a></p>
    </topmiddle>
    <topleft>
        <Header><a href="/charityhome">Food 4 Thought</a></Header>
        <Slogan>Turning Trash Into Treasure.</Slogan>
    </topleft>
    <topright>
        <p><a href="/">Log out</a></p>
    </topright>
    <middleleft>
        <div class="friendlist" >
            <ul class="Conversation"></ul>
            <% messagebox.to.forEach(function(friend){%>
            <a href="/message/<%=friend%>">
                <li class="friend1"><%= friend%></li>
            </a>
            <% });%>
        </div>
        <div class="chatbox">
            <div class="chatlogs">
                <% messagebox.msg.forEach(function(message){%>
                <% if(message.belonger === messagebox.to[0]){ %>
                <div class="chat friend">
                    <div class="user-photo">
                        <img src="/assets/coffee.jpg" class = "photo">
                    </div>
                    <p class="chat-message"><%= message.content%></p>
                </div>
                <% } %>
                <% if(message.belonger === messagebox.from){ %>
                <div class="chat self">
                    <div class="user-photo">
                        <img src="/assets/bread.png" class = "photo">
                    </div>
                    <p class="chat-message"><%= message.content%></p>
                </div>
                <% } %>
                <% });%>
                <!--
                <div class="chat friend">
                    <div class="user-photo">
                        <img src="/assets/coffee.jpg" class = "photo">
                    </div>
                    <p class="chat-message">What's up, Brother ..!!</p>
                </div>
                <div class="chat friend">
                    <div class="user-photo">
                        <img src="/assets/coffee.jpg" class = "photo">
                    </div>
                    <p class="chat-message">Hey man</p>
                </div>
                <div class="chat self">
                    <div class="user-photo">
                        <img src="/assets/bread.png" class = "photo">
                    </div>
                    <p class="chat-message">Hey brother</p>
                </div>
                <div class="chat self">
                    <div class="user-photo">
                        <img src="/assets/bread.png" class = "photo">
                    </div>
                    <p class="chat-message">How are you?</p>
                </div>
                <div class="chat friend">
                    <div class="user-photo">
                        <img src="/assets/coffee.jpg" class = "photo">
                    </div>
                    <p class="chat-message">I'm going to send food to you</p>
                </div>
                <div class="chat self">
                    <div class="user-photo">
                        <img src="/assets/bread.png" class = "photo">
                    </div>
                    <p class="chat-message">Thanks man! You are making the world better!</p>
                </div>
            </div>
            -->
            <div class="chat-form">
                <form action="/message" method="post">
                <textarea type="text" name="message"></textarea>
                <button>Send</button>
                </form>
            </div>
        </div>



    </middleleft>
    <bottomleft>

    </bottomleft>
    <bottommiddle>

    </bottommiddle>
    <bottomright>
        Powered by the Caffeine Addicts!
    </bottomright>
</div>
</body>
</html>