<html>
<head>
    <title>Chat theme example</title>
    <link rel="stylesheet" type="text/css" href="/assets/message.css">
</head>
<body>
<div class="home">
    <topmiddle>
        <p>Profile</p>
    </topmiddle>
    <topleft>
        <p>Food 4 thought</p>
    </topleft>
    <topright>
        <p>Log out</p>
    </topright>
    <middleleft>

        <div class="chatbox">
            <div class="chatlogs">
                <div class="chat friend">
                    <div class="user-photo">
                        <img src="/assets/coffee.jpg" class = "photo">
                    </div>
                    <p class="chat-message">What's up, Brother ..!!</p>
                </div>
                <div class="chat friend">
                    <div class="user-photo">
                        <img src="/assets/coffee.jpg" class = "photo">
                    </div>
                    <p class="chat-message">Hey man</p>
                </div>
                <div class="chat self">
                    <div class="user-photo">
                        <img src="/assets/bread.png" class = "photo">
                    </div>
                    <p class="chat-message">Hey brother</p>
                </div>
                <div class="chat self">
                    <div class="user-photo">
                        <img src="/assets/bread.png" class = "photo">
                    </div>
                    <p class="chat-message">How are you?</p>
                </div>
                <div class="chat friend">
                    <div class="user-photo">
                        <img src="/assets/coffee.jpg" class = "photo">
                    </div>
                    <p class="chat-message">I'm going to send food to you</p>
                </div>
            </div>
            <div class="chat-form">
                <textarea></textarea>
                <button>Send</button>
            </div>
        </div>
        <div class="friendlist" >
            <ul class="Conversation"></ul>
            <li class="friend1">Feng's cafe</li>
            <li class="friend2">Coffee and bread</li>
        </div>


    </middleleft>
    <bottomleft>

    </bottomleft>
    <bottommiddle>

    </bottommiddle>
    <bottomright>
        Powered by the Caffeine Addicts!
    </bottomright>
</div>
</body>
</html>