<head>
    <link rel="stylesheet" href="/assets/profilecharity.css.css">
</head>
<body>

<div class="profilecharity">

    <a>
        <p>Food 4 Thought</p>
    </a>
    <m>
        <p>Profile</p>
    </m>
    <k>
        <p>Log Out</p>
    </k>

    <div class="box">
        <c>
            <img src="/assets/bread_texture.png" width="136" height="120"
                 style="border: 1px black solid;box-shadow: 2px 2px 5px 3px #C2B280;">
        </c>

        <d>
            <p style="font-size: 30px">Gift of Bread</p>
            <p>Charity</p>
            <p>Member Since :- 2018</p>
        </d>

        <e>
            <button style="box-shadow: -2px 2px 5px 3px #C2B280;">Support</button>
        </e>

        <f>
            <button>Contact</button>
        </f>
        <g>
            <p style="padding-left: 7em;font-size: 24px">Bio</p>
            <div class="box1">The Gift of Bread was started by a dedicated group of
                Catholic men and women in Sydney ten years ago, in response to a call
                to do something simple that would bring people together in a moment
                of Grace. As we deliver fresh bread to the hungry and needy and share
                a moment of grace with the isolated and lonely, it helps us build a
                strong sense of social justice, one that is conscious of the
                difficulties and hardships of society.</div>
        </g>
        <h>
            <p style="font-size: 24px">List of Supporting Waste Providers</p>
            <div class="box2">Feng Cafe<br>Aang's Place<br>The QZ</div>
            <p style="padding-top: 9em;padding-left: 10em">***Recommended by us</p>
        </h>

        <n>
            <p style="padding-left: 2em;font-size: 24px">Waste Accepted</p>
            <div class="box3">Bread<br>Meat (except pork)<br>Fish<br>Vegetables<br>Rice</div>
        </n>
    </div>
</div>



</body>