@font-face{
    font-family: joanneshandwriting;
    src: url(/assets/fonts/joanneshandwriting.otf);
}
.home{
    display:grid;
    grid-template-columns: 87em 9.6em 10em;
    grid-template-rows: 6em 38em 7em;

    grid-template-areas:
        "topleft topmiddle topright"
        "middleleft middlemiddle middleright"
        "bottomleft bottommiddle bottomright";
}
body{
    font-family: joanneshandwriting;
    background-color: #F0EAD6;
}

topleft {
    grid-area: topleft;
    background-color: #152918;
    color: white;
    padding-left: 2.5em;
    padding-top: 1px;
    font-size: 2em;
}

topmiddle{
    grid-area: topmiddle;
    background-color: #152918;
    padding-top: 1px;
    font-size: 2em;
    color: white;
}

topright {
    grid-area: topright;
    background-color: #152918;
    padding-left: 8px;
    padding-top: 1px;
    font-size: 2em;
    color: white;
}
middleleft {
    grid-area: middleleft;
    margin: 10px;
    margin-bottom: 2px;
    border: double;
    border-width: 2px;
    border-radius: 5px;
    padding: 18px 10px;
    background-color: #F3E5AB;
}
input[type=text] {
    width: 800px;
    font-family: joanneshandwriting;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-image: url(https://www.w3schools.com/howto/searchicon.png);
    padding: 12px 20px 12px 40px;

}
.search {
    background-color: #EEDC82;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px #C2B280;
    color: black;
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: joanneshandwriting;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
}
.message {
    background-color: #EEDC82;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px #C2B280;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-family: joanneshandwriting;
    margin: 4px 2px;
    cursor: pointer;
}
middlemiddle{
    grid-area: middlemiddle;
    margin: 10px;
    font-size: 2em;
    color: black;
}

bottomleft{
    grid-area: bottomleft;
}

bottommiddle{
    grid-area: bottommiddle;
}

bottomright{
    grid-area: bottomright;
    margin-top: 30px;
}
.feeds1, .feeds2{
    background-color: #EEDC82;
    color: black;
    margin: 10px;
    border: groove;
    border-color: black;
    border-width: 1px;
    box-shadow: 2px 2px 5px 3px #C2B280;
    padding: 2px 2px;
    width: 1300px;
    height: 210px;
}
.pic1, .pic2{
    margin: 6px;
    float: left;
    border: 1px solid #ddd;
    width: 15em;
    height: 12em;
}
.section{

}
body{
    margin:0px;
}
.desp1{
    overflow: auto;
    border:1px solid #000;
    width: 1000px;
    height: 180px;
}
.feeds1 span, .feeds2 span{
    font-size: 36px;
}
a:link {
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    font-size: 100%;
    text-decoration: none;

}
a:active {
    text-decoration: none;
}