@font-face{
    font-family: Radnika-MediumCondensed;
    src: url(/assets/fonts/Radnika-MediumCondensed.woff2);
}
Slogan {
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    padding-left: 20px;
    color: white;
}
.home{
    display:grid;
    width: 100%;
    height: 100%;
    overflow: scroll;
    grid-template-columns: 80% 10% 10%;
    grid-template-rows: 1fr 10fr 1fr;

    grid-template-areas:
        "topleft topmiddle topright"
        "middleleft middleleft middleright"
        "bottomleft bottommiddle bottomright";
}
.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url("/assets/image.jpg");
    background-size:cover;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
body{
    font-family: Radnika-MediumCondensed;
    margin: 0px;
    color: white;
}
topleft{
    grid-area: topleft;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-areas:
            "leftleft leftright";
}
leftleft {
    grid-area: leftleft;
    background-image: url('green_apple.png');
    background-size: 50px 68px;
    background-repeat: no-repeat;
    background-position: 24px 8px;
    color: white;
    font-size: 36px;
    font-weight: 900;
    padding-left: 90px;
    padding-top: 10px;
    opacity: 1;

}
leftright{
    position: center;
    grid-area: leftright;
    padding-top: 31px;
    font-size: 2em;
    color: white;
}


topmiddle{
    grid-area: topmiddle;
    padding-top: 1px;
    font-size: 2em;
    color: white;
}

topright {
    grid-area: topright;
    padding-left: 8px;
    padding-top: 1px;
    font-size: 2em;
    color: white;
}
middleleft{
    grid-area: middleleft;
}
.allfeeds{
    grid-area: middleleft;
    overflow: auto;
    height: 600px;
    margin: 10px;
    margin-bottom: 2px;
    border: double;
    border: 1.5px solid yellowgreen;
    border-width: 2px;
    border-radius: 5px;
    padding: 18px 10px;
}
.allfeeds::-webkit-scrollbar {
    width: 10px;
}

.allfeeds::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,.5);
}
input[type=text] {
    margin: 6px;
    width: 70%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-image: url(https://www.w3schools.com/howto/searchicon.png);
    padding: 12px 20px 12px 40px;
}
.search {
    background-color: transparent;
    border: solid;
    border: 1.5px solid yellowgreen;
    border-width: 1px;
    border-radius: 10px;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
}

bottomleft{
    grid-area: bottomleft;
}

bottommiddle{
    grid-area: bottommiddle;
}

bottomright{
    grid-area: bottomright;
    margin-top: 30px;
    color: white;
}
.feeds{
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.9);
    margin: 10px;
    border: groove;
    border-color: white;
    border-width: 1px;
    padding: 10px 10px;
    width: 95%;
    height: 300px;
    overflow: auto;
}
.feeds::-webkit-scrollbar {
    width: 10px;
}

.feeds::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,.5);
}
.pic{
    margin: 6px;
    float: left;
    border: 1px solid #ddd;
    width: 15em;
    height: 12em;
}
.feeds span{
    padding: 2px 2px;
    font-size: 30px;
}

a {
    color: white;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    text-decoration: none;
}

a:hover {
    color: #BDE13F;
}

@media (max-width: 855px){
    .home{
        grid-template-columns: 80% 10% 10%;
        grid-template-rows: 4em 20fr 1fr;
    }
    .feeds span{
        font-size: 22px;
    }
    .pic{
        width: 10em;
        height: 8em;
    }
    .search {
        font-size: 15px;
        padding: 10px 6px;
    }
    input[type=text]{
        padding: 8px 16px 8px 16px;
        font-size: 16px;
        background-image: none;
    }
    topleft{
        grid-template-columns: 80% 20%;
    }
    leftleft{
        padding: 10px 60px;
        font-size: 1em;
        background-size: 30px 48px;
    }
    leftright{
        padding-top: 16px;
        font-size: 1em;
    }
    Header{
        font-size: 18px;
    }
    Slogan{
        font-size: 12px;
    }
    topmiddle{
        font-size: 1em;
    }
    topright{
        font-size:1em;
    }
}
@media (max-width: 440px){
    input[type=text]{
        background-image: none;
    }
    .feeds{
        height:350px;
    }
}
