.landingpage{
    display: flex;
    flex-direction: column;
    grid-template-rows: 10% 60% auto;

    grid-template-areas:
        "top middle bottom"

}

.top{
    grid-area: top;
    display:grid;
    grid-template-columns: 35% 35% 10% 10% 10%;
    grid-template-areas: "r1c1 r1c2 r1c3 r1c4 r1c5"
}

.middle{
    grid-area: middle;

    font-size: 30px;
    font-weight: lighter;
    margin-top: 1em;
    margin-left: 5em;
    padding-top: 30px;
    padding-left: 8em;
    padding-right: 8em;

}
.bottom{
    grid-area: bottom;
}

@font-face {
    font-family: 'Radnika';
    src: url('fonts/Radnika-MediumCondensed.woff2');
}

body{
    font-family: 'Radnika';
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

r1c1{
    background-image: url('green_apple.png');
    background-size: 50px 68px;
    background-repeat: no-repeat;
    background-position: 24px 8px;
    grid-area: r1c1;
    color: white;
    font-size: 36px;
    font-weight: 900;
    padding-left: 90px;
    padding-top: 10px;
    opacity: 1;
}

Slogan {
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    padding-left: 20px;
    color: white;
}

r1c2{
    grid-area: r1c2;

}

r1c3 {
    grid-area: r1c3;
    text-align: right;
    font-size: 2em;
}

r1c4 {
    grid-area: r1c4;
    text-align: right;
    padding-right: 10px;
    font-size: 2em;

}

r1c5 {
    grid-area: r1c5;
    text-align: right;
    padding-right: 10px;
    font-size: 2em;
}


#searchBar {
    width: 85%; /* Full-width */
    font-size: 26px; /* Increase font-size */
    padding: 20px 20px 20px 20px; /* Add some padding */
    border: 2px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-top: 42px;
    border-color: white;
    background: none;
    color: white;
}

 ::placeholder {
     color: white;
     opacity: 0.75;
     font-style: italic;
 }


body{
    margin:0px;
}

/* This gets rid of an ugly blue line around the marin when you click on the search bar */
*:focus {
    outline: 0;
    outline: none;
}

a {
    color: white;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    text-decoration: none;
}

a:hover {
    color: #BDE13F;
}