.landingpage{
    display:grid;
    grid-template-columns: 25% 60% 5% 5% 5%;
    grid-template-rows: 1fr 1fr 3fr;

    grid-template-areas:
        "r1c1 r1c2 r1c3 r1c4 r1c5"
        "r2c1 r2c2 r2c3 r2c4 r2c5"
        "r3c1 r3c2 r3c3 r3c4 r3c5"
}

@font-face {
    font-family: 'Radnika';
    src: url('fonts/Radnika-MediumCondensed.woff2');
}

body{
    font-family: 'Radnika';
    background-image: url('image.png');
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    color: white;
}

r1c1{
    background-image: url('green_apple.png');
    background-size: 50px 75px;
    background-repeat: no-repeat;
    background-position: 24px 8px;
    grid-area: r1c1;
    color: white;
    font-size: 36px;
    font-weight: 900;
    padding-left: 90px;
    padding-top: 10px;
}

Slogan {
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    padding-left: 20px;
    color: white;
}

r1c2{
    grid-area: r1c2;

}

r1c3 {
    grid-area: r1c3;
    text-align: right;
}

r1c4 {
    grid-area: r1c4;
    text-align: right;
    padding-right: 10px;

}

r1c5 {
    grid-area: r1c5;
    text-align: right;
    padding-right: 10px;
}

r2c1 {
    grid-area: r2c1;
    text-align: right;
    padding-right: 10px;
}

#searchBar {
    width: 85%; /* Full-width */
    font-size: 26px; /* Increase font-size */
    padding: 20px 20px 20px 20px; /* Add some padding */
    border: 2px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-top: 42px;
    border-color: white;
    background: none;
    color: white;
}

 ::placeholder {
     color: white;
     opacity: 0.75;
     font-style: italic;
 }
r2c2 {
    grid-area: r2c2;
    font-size: 22px;
    font-weight: lighter;
}

r2c3 {
    grid-area: r2c3;
}

r2c4 {
    grid-area: r2c4;
}

r3c1 {
    grid-area: r3c1;
}

r3c2 {
    grid-area: r3c2;
}

r3c3 {
    grid-area: r3c3;
}

r3c4 {
    grid-area: r3c4;
}

body{
    margin:0px;
}

/* This gets rid of an ugly blue line around the marin when you click on the search bar */
*:focus {
    outline: 0;
    outline: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    font-size: 100%;
    text-decoration: none;

}
a:active {
    text-decoration: none;
}