@font-face{
    font-family: joanneshandwriting;
    src: url(/assets/fonts/joanneshandwriting.otf);
}

body{
    font-family: joanneshandwriting;
    margin: 0px;
    background-color: #F0EAD6;
}
.home{
    display:grid;
    grid-template-columns: 87em 9.6em 10em;
    grid-template-rows: 6em 38em 7em;

    grid-template-areas:
            "topleft topmiddle topright"
            "middleleft middlemiddle middleright"
            "bottomleft bottommiddle bottomright";
}
topleft {
    grid-area: topleft;
    background-color: #152918;
    color: white;
    padding-left: 2.5em;
    padding-top: 1px;
    font-size: 2em;
}

topmiddle{
    grid-area: topmiddle;
    background-color: #152918;
    padding-top: 1px;
    font-size: 2em;
    color: white;
}

topright {
    grid-area: topright;
    background-color: #152918;
    padding-left: 8px;
    padding-top: 1px;
    font-size: 2em;
    color: white;
}
middleleft {
    grid-area: middleleft;
    margin: 10px;
    margin-bottom: 2px;
    padding: 18px 10px;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-areas:
            "friendlist messagebox";
}

middlemiddle{
    grid-area: middlemiddle;
    margin: 10px;
    font-size: 2em;
    color: black;
}

bottomleft{
    grid-area: bottomleft;
}

bottommiddle{
    grid-area: bottommiddle;
}

bottomright{
    grid-area: bottomright;
    margin-top: 30px;
}

.chatbox {
    position: relative;
    border: double;
    border-width: 2px;
    border-radius: 5px;
    width: 750px;
    height: 600px;
    background-color: #F3E5AB;
    box-shadow: 0 3px #ccc;
}
.friendlist{
    position:relative;
    border: double;
    border-width: 2px;
    border-radius: 5px;
    margin-left: 300px;
    background-color: #F3E5AB;
    width: 324px;
    height: 600px;
    box-shadow: 0 3px #ccc;
}
.friend1, .friend2{
    width: 324px;
    height: 100px;
    margin-top:48px;
    list-style-type: none;
    border-bottom: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    text-align: center;
    font-size: 24px;
}
a:link {
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}
.friendlist a:visited{
    color: black;
    text-decoration:none;
}
a:hover {
    font-size: 100%;
    text-decoration: none;

}
a:active {
    text-decoration: none;
}

.chatlogs {
    padding: 10px;
    width: 100%;
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
    width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}


.self .user-photo .photo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.friend .user-photo .photo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.chat .chat-message {
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}

.friend .chat-message {
    background: mediumblue;

}

.self .chat-message {
    background: darkgreen;
    order: -1;
}

.chat-form {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.chat-form textarea {
    background: #fbfbfb;
    width: 75%;
    height: 50px;
    border: 2px solid #000;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #333;
    margin-left:4px;
}

.chat-form textarea:focus {
    background: #fff;
}

.chat-form button {
    background-color: #EEDC20;
    padding: 5px 15px;
    font-size: 30px;
    color: #000;
    border: 1px black solid;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 1px 0 black;
    cursor: pointer;
    -webkit-transaction: background .2s ease;
    -moz-transaction: backgroud .2s ease;
    -o-transaction: backgroud .2s ease;
    font-family: joanneshandwriting;
}

.chat-form button:hover {
    background-color: #EEDC20;
}

