.profilewaster{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 6em 12em 8em 12em;

    grid-template-areas:
            "l l l l l m m m k k k k"
            "c c c d d d e f f f f f"
            "g g g g g g h h h h h h"
            "n n n n n n h h h h h h";
}

@font-face{
    font-family: joanneshandwriting;
    src: url(/assets/fonts/joanneshandwriting.otf);
}

body{
    font-family: joanneshandwriting;
    margin:0px;
    background-color: #F0EAD6;
}

l{
    grid-area: l;
    background-color: #152918;
    color: white;
    padding-left: 2.5em;
    padding-top: 5px;
    font-size: 2em;
}

m{
    grid-area: m;
    background-color: #152918;
    padding-top: 20px;
    margin-left: -4em;
    font-size: 20px;
    color: white;
}

k {
    grid-area: k;
    background-color: #152918;
    padding-top: 20px;
    margin-left: -2em;
    font-size: 20px;
    color: white;
}

c{
    grid-area: c;
    padding-left: 5em;
    padding-top: 4em;
    font-size: 14px;
    color: black;

}

d{
    grid-area: d;

    padding-left: 1em;
    padding-top: 2em;
    margin-top: 1em;
    line-height: 0.5em;
    font-size: 18px;
    color: black;
}

e{
    grid-area: e;

    padding-left: 8em;
    padding-top: 7em;
    font-size: 10px;
    color: black;
}

f{
    grid-area: f;

    padding-left: 2em;
    padding-top: 7em;
    font-size: 10px;
    color: black;
}

g{
    grid-area: g;

    padding-left: 6em;
    padding-right: 1em;
    font-size: 14px;
    color: black;
}

h{
    grid-area: h;

    padding-left: 4em;
    font-size: 18px;
    color: black;
}

n{
    grid-area: n;

    margin-top: -16.5em;
    padding-left: 8em;
    font-size: 18px;
    color: black;
}

.box1{

    padding: 1%;
    margin-top: -1.5em;
    width: 360px;
    height: 100px;
    border: 1px solid black;
    background-color: #EEDC82;
    box-shadow: -2px 2px 5px 3px #C2B280;
}

.box2{

    padding: 4%;
    margin-top: -1em;
    width: 240px;
    height: 170px;
    line-height: 140%;
    border: 1px solid black;
    background-color: #EEDC82;
    box-shadow: 2px 2px 5px 3px #C2B280;
}

.box3{
    padding: 4%;
    margin-top: -1em;
    width: 220px;
    height: 160px;
    border: 1px solid black;
    background-color: #EEDC82;
    box-shadow: 2px 2px 5px 3px #C2B280;
}

.box{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.1em;
    padding-top: 0.1em;
    margin-left: 10em;
    margin-top: 3em;
    margin-bottom: 1em;
    width: 870px;
    height: 680px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px 6px #E3DAC9;
    background-color: #F3E5AB;

}

button{
    background-color: #EEDC82;
    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    color: black;
    padding: 20px;
    text-align: center;
    font-family: joanneshandwriting;
    font-size: 2em;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 2px 2px 5px 3px #C2B280;
}
a:link {
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    font-size: 120%;
    text-decoration: none;

}
a:active {
    color: black;
    text-decoration: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}