.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    grid-template-rows: 6em 38em 7em;
    grid-template-areas: "banner  midsection bottompart";
}

.banner {
    grid-area: banner;
    display:grid;
    grid-template-columns: 80% 10% 10%;
    grid-template-areas: "l m k"
}



.profilecontent{
    grid-area: midesection;
    position: center;
    margin: 3%;
    margin-left: auto;
    margin-right: auto;
    display:grid;
    zoom: 120%;
    border: double;
    border-width: 2px;
    border-radius: 5px;
    grid-template-columns: repeat(5, 20%);;
    grid-template-rows: 33% 67%;
    grid-template-areas:
            "primaryinfo primaryinfo primaryinfo buttons buttons"
            "secondaryinfo secondaryinfo secondaryinfo tertiaryinfo tertiaryinfo"

}

.bottompart{
    grid-area: bottompart;
    display: grid;
    margin-top: -2%;
    margin-left: 85%

}


@font-face{
    font-family: joanneshandwriting;
    src: url(/assets/fonts/joanneshandwriting.otf);
}

body{
    font-family: joanneshandwriting;
    margin:0px;
    background-color: #F0EAD6;
}

.l{
    grid-area: l;
    background-color: #152918;
    color: white;
    padding-left: 2.5em;
    padding-top: 5px;
    font-size: 2em;
}

.m{
    grid-area: m;
    background-color: #152918;
    padding-top: 1px;
    font-size: 2em;
    color: white;
}

.k {
    grid-area: k;
    background-color: #152918;
    padding-top: 1px;
    font-size: 2em;
    color: white;
}

.primaryinfo{
    grid-area: primaryinfo;
    display: flex;
    grid-row-gap: 4em;
    padding-top: 2em;
    padding-left: 3.5em;
    margin-top: 1em;
    line-height: 0.5em;
    font-size: 18px;
    color: black;
}

.buttons{
    grid-area: buttons;
    display: flex;
    flex-flow: row wrap;
    margin-top: 1em;
    padding-left: 3em;
    padding-top: 7em;
    font-size: 10px;
}

.secondaryinfo{
    grid-area: secondaryinfo;
    display: flex;
    flex-flow: column wrap;
    padding-left: 6em;
    padding-right: 1em;
    font-size: 16px;
    color: black;
}

.tertiaryinfo{
    grid-area: tertiaryinfo;
    display: flex;
    flex-flow: column wrap;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 18px;
    color: black;
}

.box1{

    padding: 1%;
    margin-top: -1.5em;
    width: 360px;
    height: 100px;
    border: 1px solid black;
    background-color: #EEDC82;
    box-shadow: -2px 2px 5px 3px #C2B280;
}

.box2{

    padding: 4%;
    margin-top: -1em;
    width: 240px;
    height: 170px;
    line-height: 140%;
    border: 1px solid black;
    background-color: #EEDC82;
    box-shadow: 2px 2px 5px 3px #C2B280;
}

.box3{
    padding: 4%;
    margin-top: -1em;
    width: 220px;
    height: 160px;
    line-height: 140%;
    border: 1px solid black;
    background-color: #EEDC82;
    box-shadow: 2px 2px 5px 3px #C2B280;
}

.box{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.1em;
    padding-top: 0.1em;
    margin-left: 10em;
    margin-top: 3em;
    margin-bottom: 1em;
    width: 870px;
    height: 680px;
    border: double;
    border-width: 2px;
    border-radius: 5px;
    background-color: #F3E5AB;

}

button{
    background-color: #EEDC82;
    width: 6em;
    height: 3em;
    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    color: black;
    padding: 20px;
    text-align: center;
    font-family: joanneshandwriting;
    font-size: 2em;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 2px 2px 5px 3px #C2B280;
}
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}
.box2 a:visited{
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    font-size: 100%;
    text-decoration: none;

}
a:active {
    color: white;
    text-decoration: none;
}
